/* Responsive handling for smaller screens */
@media (max-width: 768px) {
    .table-responsive-stack tr {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid var(--border-color);
        padding: 1rem 0;
    }

    .custom-table thead {
        display: none;
        /* Hide header on very small mobile if needed, or use standard scroll */
    }

    .table-container {
        border-radius: 8px;
    }

    section.past_sheets .custom-table tbody td {
        padding: 1.25rem 1rem;
        font-size: 12px;
        vertical-align: middle;
        color: #333;
        border-bottom: 1px solid var(--border-color);
    }

    .btn_1 {
        padding: 16px 30px;
    }

    .app-header {
        padding: 1rem;
    }

    .progress-card {
        --circ: 219.91;
        --offset: calc(var(--circ) - (var(--progress) / 100) * var(--circ));
        /* background: #1a1a0e; */
        display: inline-flex;
        align-items: center;
        gap: 18px;
        /* padding: 18px 28px 18px 18px; */
        border-radius: 50px;
        padding-top: 19px;
    }

    /* .container {
              padding: 1rem;
          } */
}

@media (max-width: 620px) {
    .table-title {
        font-size: 0.95rem;
        padding: 1rem;
    }
    .header-card {
        padding: 14px 16px;
        gap: 12px;
        width: 355px !important;
    }

    .hc-week-title {
        font-size: 1.2rem;
    }

    .hc-qty-value {
        font-size: 1.9rem;
    }

    .hc-divider {
        display: none;
    }
}
